<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--  bean definitions here  -->
<!--  spring bean configuration  -->

<bean id="dt" class="java.util.Date"/><!-- dependant class -->

<bean id="wmg" class="com.nt.beans.WishMessegeGenerator"><!-- target class -->
<!-- every bean class is identified with bean id so we pass bean id in to the ref -->
<constructor-arg name="date" ref="dt"></constructor-arg><!-- constructor injection -->

<!--  Setter injection  -->
</bean>

</beans>